*{
	padding: 0;
	margin: 0;
}
body{
	background: #DCDCDC;
}
h1{
	text-transform: uppercase;
	text-align: center;
	margin-top: 0px;]
	width:100px;
	height: 100px;
	padding-top: 50px;
	color: white;
	background:#001a33;

}
.operation{
	display: flex;
	margin-top: 10px;
}
/* folder make css start */
.make_folder{
	width: 280px;
	height: 500px;
	background: linear-gradient(-230deg , #008066 ,#99004d);
	margin-top: 80px ;
	margin-left: 20px;
	margin-right: 10px;
	padding-top: 100px;
	border: 10px solid yellow;
}
.make_folder label{
	color: white;
	font-size: 30px;
	padding:50px;


}
.make_folder .folder_make{
	width: 150px;
	height: 55px;
	margin:40px 60px 20px;
	border: 6px solid gray;	
}

.make_folder .folder_btn{
	font-weight: bold;
	color: whitesmoke;
	background-color:#00ffbf; 
	width: 120px;
	height: 40px;
	margin:3px 80px;
}
/* make folder css stop */
/* make file css start  */
.make_file{
	width: 280px;
	height: 500px;
	background: linear-gradient(-230deg , #008066 ,#99004d);
	margin: 80px 5px;
	padding-top: 100px;
	border: 10px solid yellow;
}
.make_file label{
	color: white;
	font-size: 30px;
	padding:70px;


}
.make_file .makefile{
	width: 150px;
	height: 55px;
	margin:40px 60px 20px;
	border: 6px solid gray;	
}

.make_file .file_btn{
	font-weight: bold;
	color: whitesmoke;
	background-color:#00ffbf; 
	width: 120px;
	height: 40px;
	margin:3px 80px;
}
/* make file css stop */
/* write contain css start */
.write_txt{
	width: 280px;
	height: 500px;
	background: linear-gradient(-230deg , #008066 ,#99004d);
	margin: 80px 5px;
	padding-top: 100px;
	border: 10px solid yellow;
}
.write_txt label{
	color: white;
	font-size: 30px;
	padding:50px;


}
.write_txt .writecontain{
	width: 150px;
	height: 55px;
	margin:40px 60px 20px;
	border: 6px solid gray;	
}

.write_txt .write_btn{
	font-weight: bold;
	color: whitesmoke;
	background-color:#00ffbf; 
	width: 120px;
	height: 40px;
	margin:3px 80px;
}
/* write contain css stop */
/* view containt css start  */
.read_txt{
	width: 280px;
	height: 500px;
	background: linear-gradient(-230deg , #008066 ,#99004d);
	margin: 80px 5px;
	padding-top: 100px;
	border: 10px solid yellow;
}
.read_txt label{
	color: white;
	font-size: 30px;
	padding:30px;


}
.read_txt .readcontint{
	width: 150px;
	height: 55px;
	margin:40px 60px 20px;
	border: 6px solid gray;	
}

.read_txt .read_btn{
	font-weight: bold;
	color: whitesmoke;
	background-color:#00ffbf; 
	width: 120px;
	height: 40px;
	margin:3px 80px;
}
/* view containt css stop */
/* delete file css start */
.delete_txt{
	width: 280px;
	height: 500px;
	background: linear-gradient(-230deg , #008066 ,#99004d);
	margin: 80px 10px;
	padding-top: 100px;
	border: 10px solid yellow;
}
.delete_txt label{
	color: white;
	font-size: 30px;
	padding:60px;


}
.delete_txt .deletefile{
	width: 150px;
	height: 55px;
	margin:40px 60px 20px;
	border: 6px solid gray;	
}

.delete_txt .delete-btn{
	font-weight: bold;
	color: whitesmoke;
	background-color:#00ffbf; 
	width: 120px;
	height: 40px;
	margin:3px 80px;
}
/* delete file css stop */
/* remove folder css start */
.remove_folder{
	width: 280px;
	height: 500px;
	background: linear-gradient(-230deg , #008066 ,#99004d);
	margin: 80px 10px;
	padding-top: 100px;
	border: 10px solid yellow;
}
.remove_folder label{
	color: white;
	font-size: 30px;
	padding:40px;


}
.remove_folder .removefolder{
	width: 150px;
	height: 55px;
	margin:40px 60px 20px;
	border: 6px solid gray;	
}

.remove_folder .rm_folder{
	font-weight: bold;
	color: whitesmoke;
	background-color:#00ffbf; 
	width: 120px;
	height: 40px;
	margin:3px 80px;
}
/* remove folder css stop */